.mat-login{
    background-color: #FF5078;

}
.login:hover{
    background-color: #634A97;
    color: aliceblue;
}
.backgorund-login{
    height: 40vh;
    background-size: cover;
    position: relative;
    width: 100%;
    padding-top: 150px;
    background:url(/assets/bg-pattern.png),linear-gradient(to right, #634A97,#FF5078);
}
.full-size{
    width: 80%;
    height: 60px;
}