
<div class="wrapper sidebar">
  <div class="overlay"></div>
  <div class="content fondo_total">
    <div class="contendio_total">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> 

<nav class="main-menu patron">
  <br>
  <div class="scrollbar patron" id="style-1">
    <ul >
      <li>
        <a [routerLink]="'/admin'">
          <i class="fa fa-house fa-lg"></i>
          <span class="nav-text">Casa</span>
        </a>
      </li>
      <li class="darkerlishadow">
        <a [routerLink]="'/admin/item'">
          <i class="fa fa-boxes-stacked fa-lg"></i>
          <span class="nav-text">Productos</span>
        </a>
      </li>

      <li class="darkerli">
        <a [routerLink]="'/admin/orden'">
          <i class="fa fa-file-invoice fa-lg"></i>
          <span class="nav-text">Ordenes</span>
        </a>
      </li>

      <li class="darkerli">
        <a [routerLink]="'/admin/registro'">
          <i class="fa fa-clock-rotate-left fa-lg"></i>
          <span class="nav-text">Registros</span>
        </a>
      </li>

      <li class="darkerli">
        <a [routerLink]="'/admin/stats'">
          <i class="fa fa-bar-chart"></i>
          <span class="nav-text">Estadisticas</span>
        </a>
      </li>

      <li class="darkerli">
        <a [routerLink]="'/admin/usuario'">
          <i class="fa fa-users fa-lg"></i>
          <span class="nav-text">Usuarios</span>
        </a>
      </li>
    </ul>
    <ul class="logout">
      <li>
        <a href="http://startific.com">
          <i class="fa fa-door-open fa-lg"></i>
          <span class="nav-text">
            Salir
          </span>

        </a>
      </li>
    </ul>
    </div>
</nav>

