<h1 class="titulo">Usuarios</h1>


<div>
  <div class="botonCrear">
    <a class="effect1" (click)="open(contenido)">
      Crear Usuario
      <span class="bg"></span>
    </a>
  </div>
</div>
<br><br><br><br><br><br>
<div class="tabla">
  <!--Fin barra buscar-->
  <div class="container">
    <div class="table-responsive">
      <table class="table table-striped custom-table" >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Usuario</th>
            <th scope="col">Area</th>
          </tr>
        </thead>
        <tbody *ngFor="let user of users">
          <tr scope="row">
            <td>
              {{user.idUsuario}}
            </td>
            <td>{{user.nombre}}</td>
            <td >
              <span >
                {{user.username}}
              </span>
            </td>
            <td class="color-td">
              <div class="avatar-group">
                {{user.area}}
              </div>
            </td>   
          </tr>
        </tbody>
      
      </table>
    </div>
  </div>
</div>



<!--Modal Crear Registro-->
<ng-template #contenido let-modal>
  <form (ngSubmit)="crearUsuario()">
    <div class="modal-header fondo-cabecera">
      <h4 class="modal-title">Crear Usuario</h4>
      <button class="btn close" aria-label="close" type="button" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!--Nombrel Usuario-->
    <div class="modal-body fondo-modal">
      <div class="col">
        <label for="ejemplo">Nombre de Usuario</label>
        <input type="text" [(ngModel)]="usuarioData.nombre" class="form-control" name="nombre"
          placeholder="Nombre de Usuario" required>
      </div>
      <!--Usuario-->
      <div class="col">
        <label for="ejemplo">Usuario</label>
        <input type="text" [(ngModel)]="usuarioData.username" class="form-control" name="username"
          placeholder="usuario" required>
      </div>
      <!--Contraseña-->
      <div class="col">
        <label for="ejemplo">Contraseña</label>
        <input type="password" [(ngModel)]="usuarioData.password" class="form-control" name="docDate"
          placeholder="password" required>
      </div>
      <!--Area-->
      <div class="col">
        <label for="area">Area</label>
        <select class="form-control" name="area" id="area" [(ngModel)]="usuarioData.area" required="true">
          <option>ADMIN</option>
          <option>ALMACEN</option>
          <option>COMPRAS</option>
          <option>RECIBO</option>
        </select>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn button">Guardar Usuario</button>
      <button type="button" class="btn button-2" (click)="modal.close()">Cerrar</button>
    </div>
  </form>
</ng-template>

<!--Modal Crear Registro-->
<ng-template #editar let-modal>
  <form (ngSubmit)="crearUsuario()">
    <div class="modal-header fondo-cabecera">
      <h4 class="modal-title">Editar Usuario</h4>
      <button class="btn close" aria-label="close" type="button" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!--Nombrel Usuario-->
    <div class="modal-body fondo-modal">
      <div class="col">
        <label for="ejemplo">Nombre de Usuario</label>
        <input type="text" [(ngModel)]="usuarioData.nombre" class="form-control" name="nombre"
          placeholder="Nombre de Usuario" required>
      </div>
      <!--Usuario-->
      <div class="col">
        <label for="ejemplo">Usuario</label>
        <input type="text" [(ngModel)]="usuarioData.username" class="form-control" name="username"
          placeholder="usuario" required>
      </div>
      <!--Contraseña-->
      <div class="col">
        <label for="ejemplo">Contraseña</label>
        <input type="password" [(ngModel)]="usuarioData.password" class="form-control" name="docDate"
          placeholder="password" required>
      </div>
      <!--Area-->
      <div class="col">
        <label for="area">Area</label>
        <select class="form-control" name="area" id="area" [(ngModel)]="usuarioData.area" required="true">
          <option>ADMIN</option>
          <option>ALMACEN</option>
          <option>COMPRAS</option>
          <option>RECIBO</option>
        </select>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn button">Guardar Usuario</button>
      <button type="button" class="btn button-2" (click)="modal.close()">Cerrar</button>
    </div>
  </form>
</ng-template>


