<h1 class="titulo">Estadisticas</h1>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<div class="main-content">
  <div class="container mt-7">
    <!-- Table -->
    <!-- Dark table -->
    <div class="row mt-5">
      <div class="col">
        <div class="card bg-default shadow">
          <div class="card-header bg-transparent border-0">
            <iframe title="Report Section" width="1024" height="804"
              src="https://app.powerbi.com/view?r=eyJrIjoiMmM4MzhkOWUtMTI1Yy00MGM4LWExZDItMWM0NzI1MTBiNjE3IiwidCI6ImNmZDE0YTZjLWNjNTUtNDMwOS05ZTY2LTQ4Nzc0NGM3MTY2ZSJ9"
              frameborder="0" allowFullScreen="true"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>