<h1 class="titulo">Detalles del Registro</h1><br><br>

<div>
  <div class="d-flex justify-content-center container mt-5">
    <div class="card p-3 bg-white"><i class="fa-brands fa-autoprefixer"></i>
      <div class="about-product text-center mt-2">
        <!--<img src="{{cadenaImpresa}}" width="300"
          *ngIf="cadenaImpresa;else imagenGuia">-->
        <div>
          <h6 class="mt-0 text-black-50" style="font-family: 'Abel',sans-serif;font-size: 15px;">Ananda Distribuciones
          </h6>
          <h4 class="nombre">{{registro?.estatus}}</h4>
        </div>
      </div>
      <div class="stats mt-2">
        <div class="d-flex justify-content-between p-price"><span>Número
            de orden</span><span><b>{{registro?.ordenCompra.docNum}}</b></span></div>
        <div class="d-flex justify-content-between p-price"><span>Area
          </span><span><b>{{registro?.area}}</b></span></div>
        <div class="d-flex justify-content-between p-price"><span>
            Comentarios: </span><span>{{registro?.comentariosAlmacen}}</span></div>

      </div>
      <br>
    </div>
  </div>
  <ng-template #imagenGuia>
    <img src="assets/ANANDANEGRO_2.png" width="300">
  </ng-template>
</div>
<div>
  <div class="botonRegresar">
    <a class="effect1" [routerLink]="'/admin/registro'">
      Regresar
      <span class="bg"></span>
    </a>
  </div>
</div>
<!-- Start Timeline -->
<section id="timeline">
  <ul class="line">
    <li>
      <div class="cont" *ngIf="registro?.dateReciboOCLlegada">
        <h3>Llegada a Recibo</h3>
        <p>
          La orden de compra llego a las
        {{registro?.timeReciboOCLlegada.substring(0,5)}}
        </p>
        <time>{{registro?.dateReciboOCLlegada}}</time>
      </div>
    </li>
    <li *ngIf="registro?.dateReciboMuentraM">
      <div class="cont">
        <h3>Muestra a Compra</h3>
        <p>
          Se ha mandado la muestra a compras a las
        {{registro?.timeReciboMuestraM.substring(0,5)}}
        </p>
        <time>{{registro?.dateReciboMuestraM}}</time>
      </div>
    </li>
    <li *ngIf="registro?.dateReciboL">
      <div class="cont">
        <h3>Muestra Liberada</h3>
        <p>
          Se ha liberado a recibo a las
        {{registro?.timeReciboL.substring(0,5)}}.
        </p>
        <time>{{registro?.dateReciboLL}}</time>
      </div>
    </li>
    <li *ngIf="registro?.dateTransito">
      <div class="cont">
        <h3>Mercancia a Transito</h3>
        <p>
          Se ha mandado a transito a las
        {{registro?.timeTransito.substring(0,5)}}
        </p>
        <time>{{registro?.dateTransito}}</time>
      </div>
    </li>
    <li *ngIf="registro?.dateAlmacenVerificado">
      <div class="cont">
        <h3>Mercancia Liberada UN</h3>
        <p>
          Se ha liberado la mercancia a las unidades de negocio el dia
        {{registro?.dateAlmacenVerificado}} a las 
        </p>
        <time>{{registro?.timeAlmacenVerificado.substring(0,5)}}</time>
      </div>
    </li>
    <li *ngIf="registro?.datePedidoEspecial">
      <div class="cont">
        <h3>Mercancia PE</h3>
        <p>
          Se ha hehco el registro del pedido especial a las
        {{registro?.timePedidoEspecial.substring(0,5)}}
        </p>
        <time>  {{registro?.datePedidoEspecial}}</time>
      </div>
    </li>
    <li *ngIf="registro?.date_fotos_registro">
      <div class="cont">
        <h3>Mercancia Foto</h3>
        <p>
          Se ha tomado las fotos a las
        {{registro?.time_fotos_orden.substring(0,5)}}
        </p>
        <time>{{registro?.date_fotos_registro}}</time>
      </div>
    </li>
  </ul>
</section>
<!-- End Timeline -->



